@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* , *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root{
    --accent-color: #FFC107;
    --header-height: 100px;
    --primary-font-color: black;
    --default-font-family: 'Roboto Condensed', sans-serif
}

/* HEADER */

header{
    align-items: center;
    background-color: white;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 8px 2rem 0;
    width: 100%;
}

.left-menu{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.right-menu {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: var(--default-font-family);
    font-size: 16px;
    justify-content: right;
}

.right-menu > a {
    color: var(--primary-font-color);
    display: inline-block;
    margin: 0 10px;
    padding: 8px 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.right-menu > a:focus{
    outline: none;
}

.right-menu > a::after{
    background-color: var(--accent-color);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    width: 100%;
}

.right-menu > a:hover::after,
.right-menu > a:focus::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#book-now-nav{
    background-color: var(--accent-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#book-now-nav:hover{
    filter: brightness(85%);
}

#book-now-nav::after {
    content: none;
}

.dropdown{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: default;
    display: none;
    margin: 0;
    padding: 12px 0 8px 0;
    position: absolute;
    z-index: 20;
}

.dropdown-toggle:hover .dropdown,
.dropdown:hover{
    display:flex;
    flex-direction: column;
}

.dropdown > a{
    color: var(--primary-font-color);
    cursor: pointer;
    display: inline-block;
    margin: 8px 10px;
    overflow: hidden;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
}

.dropdown > a::after{
    background-color: var(--accent-color);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    width: 100%;
}

.dropdown > a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* HOMEPAGE */
.homepage-image{
    align-items: center;
    border-radius: 1.4rem;
    display: flex;
    flex-grow: 1;
    height: calc(100vh - var(--header-height) * 3 - 2.9rem);
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
    width: calc(100% - 20px);
}

.homepage-image > img {
    flex-shrink: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    width: 100%;
}

.form-container{
    display: flex;
    height: 80px;
    justify-content: center;
    margin-top: -40px;
    z-index: 1;
}

.booking-form{
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 30px -15px;
    display: flex;
    font-family: var(--default-font-family);
    overflow: hidden;
    width: max-content;
    background-color: white;
    padding-left: 30px;
    font-size: 16px;
}

.homepage-cabin-select,
.homepage-date-selector{
    font-size: inherit;
    border: solid 1px black;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.homepage-cabin-select{
    padding-right: 0px;
}

.homepage-date-selector{
    margin: 0 20px;
    background: url(/assetts/icons/calendar.png) no-repeat scroll right;
    background-size: 30px 30px;
    padding-right: 30px;
    width: min-content;
}

.homepage-booking-btn{
    cursor: pointer;
    font-size: inherit;
    background-color: var(--accent-color);
    border: none;
    height: 100%;
    padding: 0 40px;
}

.homepage-booking-btn:hover{
    filter: brightness(85%);
}

.overview-section1, .overview-section2{
    width: 100%;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    padding: 10vh 0;
    margin: 0;
    position: relative;
    flex: 1 1 0;
}

.overview-section2{
    background-color: #efefef;
}

.overview-text-container{
    display: table;
    width: 60%;
    height: 100%;
}

.overview-text-container div{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
}

.overview-text-container p{
    font-family: var(--default-font-family);
    font-size: 20px;
    padding: 0 2%;
    margin: 0 8%;
    background-image: -webkit-linear-gradient(bottom, var(--accent-color) 80%, rgba(0,0,0,0) 20%);
    background-size: 2px 100%;
    background-repeat: no-repeat;
}

.overview-text-container h1{
    font-family: var(--default-font-family);     
    letter-spacing: 0.05em;
    font-size: 32px;
    padding: 0 10%;
    font-weight: bold;
    text-transform: uppercase;
}

.overview-text-container a{
    color: blue;
    text-decoration: none;
}

.overview-hosts-image{
    overflow: hidden;
    border-radius: 50%;
}

.overview-hosts-image img{
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}

.overview-image-carousel-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.overview-pager{
    display: block;
    font-size: 30px;
    color: rgb(243, 243, 243);
    width: max-content;
    text-align: center;
    bottom: 0%;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.cycle-pager span.cycle-pager-active { color: var(--accent-color);}

.slideshow-container-left, .slideshow-container-right{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 40%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    aspect-ratio: 1.6 / 1;
}

.slideshow-container-right{
    margin: auto 2% auto 0;
}

.slideshow-container-left{
    margin: auto 0 auto 2%;
}
  
.picture-section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;  
    justify-content: space-evenly;
    flex: 1 1 0;
}

.picture-section img{
    height: 100%;
    width: 25%;
    object-fit: cover;
    overflow: hidden;
    background: rgba(0,0,0,1);
}

.overview-overlay-container{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.overview-overlay{
    float: left;
    width: 25%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.overview-overlay p{
    position: relative;
    top: 70%;
    line-height: 40px;
    font-family: var(--default-font-family);     
    letter-spacing: 0.05em;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 2em;
    padding-left: 16px;
}

.overview-overlay:hover{
    opacity: 0;
    transition: opacity 0.6s ease;
}

.overview-overlay:hover .overview-overlay-underline{
    transform: translateY(50px);
    transition: transform 0.6s ease;

}

.overview-overlay:hover p{
    transform: translateY(-50px);
    transition: transform 0.6s ease;

}

.overview-overlay-underline{
    border-bottom: 2px solid var(--accent-color);
    margin: 16px 80% 0 16px;
}

.overview-hosts-image{
    aspect-ratio: 1/1;
}

/* MAP */

.map-container{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75vh;
    width: 75vw;
    z-index: 12;
}

.map-container iframe{
    height: 100%;
    width: 100%;
}

.map-howTo{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 24px 24px 0;
    z-index: 16;
    filter: brightness(0) saturate(100%) invert(77%) sepia(52%) saturate(2469%) hue-rotate(354deg) brightness(106%) contrast(102%);
    transition: transform 0.3s ease-in-out;
}

.map-howTo:hover{
    transform: rotate(360deg) scale(1.2);
}

#map-howTo-close{
    display: none;
}

#map-explanation{
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75vh;
    width: 75vw;
    z-index: 15;
    padding: 1% 1%;
    background-color: #fff;
    overflow: scroll;
}

#map-explanation p{
    font-family: var(--default-font-family);
    line-height: 24px;
    font-size: 18px;
    margin: 0 0 16px 0;
}

#map-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 13;
}

/* AVAILABILITY */

.calendar-setup{
    position: fixed;
    top: 25%;
    transform: translate(0%, -30%);
    z-index: 9;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 60px;
}

.calendar-setup iframe{
    width: 100%;
    height: 100%;
}

.main-calendar{
    width: 45vw;
    height: 40vw;
    margin: 40px 0px;
    float: left;
    padding: 0;
    padding-left: 3vw;
}

.guest-calendar{
    width: 45vw;
    height: 40vw;
    margin: 40px 0px;
    float: right;
    padding: 0;
    padding-right: 3vw;
}

/* CABIN OVERVIEW & ATTRACTIONS OVERVIEW */
/* FONT AWESOME ICONS *//*https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css*//*https://cdnjs.com/libraries/font-awesome*/
.fa,.fab,.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}@font-face{font-family: "Font Awesome 5 Brands";font-style:normal;font-weight:normal;font-display:auto;src:url(/assetts/webfonts/fa-brands-400.eot);src:url(/assetts/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(/assetts/webfonts/fa-brands-400.woff2) format("woff2"),url(/assetts/webfonts/fa-brands-400.woff) format("woff"),url(/assetts/webfonts/fa-brands-400.ttf) format("truetype"),url(/assetts/webfonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family: "Font Awesome 5 Brands"}@font-face{font-family: "Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(/assetts/webfonts/fa-regular-400.eot);src:url(/assetts/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(/assetts/webfonts/fa-regular-400.woff2) format("woff2"),url(/assetts/webfonts/fa-regular-400.woff) format("woff"),url(/assetts/webfonts/fa-regular-400.ttf) format("truetype"),url(/assetts/webfonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-weight:400}@font-face{font-family: "Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(/assetts/webfonts/fa-solid-900.eot);src:url(/assetts/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(/assetts/webfonts/fa-solid-900.woff2) format("woff2"),url(/assetts/webfonts/fa-solid-900.woff) format("woff"),url(/assetts/webfonts/fa-solid-900.ttf) format("truetype"),url(/assetts/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family: "Font Awesome 5 Free"}.fa,.fas{font-weight:900}.fa-bars:before{content:"\f0c9"}.fa-times:before{content:"\f00d"}.fa-envelope:before{content:"\f0e0"}.fa-phone:before{content:"\f095"}.fa-map-marker-alt:before{content:"\f3c5"}.fa-user-friends:before{content:"\f500"}.fa-user:before{content:"\f007"}.fa-bed:before{content:"\f236"}.fa-bath:before{content:"\f2cd"}.fa-car:before{content:"\f1b9"}.fa-paw:before{content:"\f1b0"}.fa-shower:before{content:"\f2cc"}.fa-check-circle:before{content:"\f058"}.fa-circle:before{content:"\f111"}.fa-moon:before{content:"\f186"}.fa-home:before{content:"\f015"}.fa-calendar-alt:before{content:"\f073"}.fa-envelope:before{content:"\f0e0"}.fa-mountain:before{content:"\f6fc"}.fa-route:before{content:"\f4d7"}.fa-star:before{content:"\f005"}.fa-chevron-down:before{content:"\f078"}.fa-comment:before{content:"\f075"}.fa-home:before{content:"\f015"}

.overview-container{
    width: 80vw;
    height: auto;
    margin: 60px auto 0 auto;
    box-sizing: border-box;
    padding-bottom: 16px;
}

.cabins-overview-container, .attractions-overview-container{
    height: 225px;
    width: 95%;
    width: calc(100% - 32px);
    margin: 16px auto 16px auto;
    box-shadow: 0 8px 22px 0 rgba(0,0,0,.07);
    display: flex;
    flex-direction: row;
}

.cabins-overview-image, .attractions-overview-image{
    width: 33%;
    height: 100%;
    overflow: hidden;
    float: left;
    padding: 0 25px;
    margin: 0 14px 0 0;
    background-color: #f3f3f3; 
}

.cabins-overview-image img, .attractions-overview-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cabins-overview-text, .attractions-overview-text{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attractions-overview-text{
    width: 63%
}

.cabins-overview-text h3, .attractions-overview-text h3{
    font-family: var(--default-font-family);
    font-size: 1.5em;
    margin: 8px 8px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.cabins-overview-text p, .attractions-overview-text p{
    font-family: var(--default-font-family);
    font-size: 1em;
    margin: 8px 8px;
    padding: 0;
    line-height: 18px;
}

.attractions-overview-text p {
    font-size: 1.2em;
    line-height: 24px;
    font-weight: normal;
}

.cabins-overview-text a, .attractions-overview-text a{
    text-decoration: none;
    color: black;
}

.cabin-overview-icon{
    width: 10px;
    color: #555;
    padding: 0;
    margin: 0 6px 0 0;
}

.cabin-overview-icon-right{
    width: 25px;
}

.fridge-icon{
    margin: 0 7px 0 -5px;
    padding: 0;
}

.cabins-overview-info{
    display: flex;
    flex-direction: row;
}

.cabin-overview-text-section1,
.cabin-overview-text-section2{
    width: 40%;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
}

.more-info-text-container{
    height: min-content;
    width: max-content;
}

.more-info-text-container p{
    color: var(--accent-color);
    filter: brightness(90%);
    font-size: 1em;
}

.cabins-overview-price{
    height: 100%;
    width: 20%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabins-overview-price p{
    display: inline;
    font-family: var(--default-font-family);
    padding: 0;
    margin: 16px 0;
    display: block;
    font-size: 18px;
}

.cabins-overview-price span{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

/* CABIN DETAILS */

.overview-container h1{
    margin-left: 20px;
}

.cabin-overview-icon-container{
    height: 50px;
    padding: 0;
    margin: 10px 2% 0 2%;
}

.cabin-overview-icon-container p{
    display: block;
    float: left;
    width: auto;
    margin-right: 16px;
}

.cabin-short{
    padding: 8px 20px !important;
}

.cabin-image-carousel-container{
    margin: 0px 2% 0px 2%;
    padding: 0;
    width: 67vw;
    height: 51vw;
    max-height: 88vh;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    background-color: #000;
}

.cabin-image-carousel-img{
    height: 100%;
    width: auto;
}

.cabin-image-carousel-prev, .cabin-image-carousel-next{
    width: 30px;
    height: auto;
    display: block;
    position: absolute;
    top: 44%;
    cursor: pointer;
    z-index: 101;
    text-align: center;
    font-size: 200%;
    color: var(--accent-color);
    background-color: rgba(0,0,0,0.4);
}

.cabin-image-carousel-prev{
    left: 1%;
}

.cabin-image-carousel-next{
    right: 1%;
}

.cabin-image-caption{
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 16px;
    z-index: 101;
    margin: 0 1% 1% 0;
    padding: 2px 2px;
    color: var(--accent-color);
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}

.cabin-page-navigator{
    display: inline-block;
    position: sticky;
    top: 0px;
    width: 95%;
    margin: 0 16px 0 16px;
    padding: 10px 0 0 0;
    background-color: white;
    border-bottom: solid 1px var(--accent-color);
}

.cabin-page-navigator a{
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

.cabin-page-navigator p{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0 3px 5px 10px;
}

.cabin-description-text-area{
    width: 95%;
    margin: 0 16px;
    padding: 0;
    color: #333;
    font-family: var(--default-font-family);
}

.cabin-description-text-area h2{
    font-family: var(--secondary-font-family);     
    letter-spacing: 0.05em;
    margin: 20px 16px 10px 0;
    padding: 5px 0;
    width: 100%;
    border-bottom: solid 1px var(--accent-color);
}

.cabin-description-text-area h4{
    padding: 0px 0px 0px 10px;
    margin: 0 16px 0 0;
}

.cabin-description-text-area p{
    padding: 10px 16px 10px 10px;
    margin: 0 0 0 0;
    line-height: 1.3;
    word-wrap: break-word;
}

.amenities-container{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 16px 0 0;
    padding: 0;
}

.amenities{
    display: inline-block;
    width: 275px;
    margin: 0;
    padding: 0 16px 0 0;
}

.rates-table{
    font-family: var(--default-font-family);
    border-collapse: collapse;
    width: 100%;
}

.rates-table td, .rates-table th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.rates-table tr:nth-child(even) {
    background-color: #eee;
  }
.rates-table tr:nth-child(odd) {
    background-color: #fff;
  }

/* ATTRACTION OVERVIEW INFO */

.attractions-overview-info{
    width: calc(80vw * 0.95);
    height: auto;
    overflow-y: hidden;
    margin: 60px auto 0 auto;
    box-sizing: border-box;
    padding-bottom: 16px;
}

.attractions-overview-info h1{
    margin: 0;
    padding: 0;
}

.attractions-overview-info-text{
    height: 75px;
    overflow-y: hidden;
    position: relative;
}

.attractions-overview-info-text::after{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: linear-gradient(transparent, white);
    content: '';
}

.attractions-overview-info-text.expand{
    height: max-content;
}

.attractions-overview-info-text.expand::after{
    background: none;
}

.attractions-overview-info-text p{
    margin: 16px 0 0 0;
    padding: 0;
}

.attractions-overview-more-info{
    height: min-content;
    width: max-content;
    margin-top: 16px;
    cursor: pointer;
}

.attractions-overview-more-info p{
    color: var(--accent-color);
    filter: brightness(90%);
    font-size: 1em;
    pointer-events: none;
}


/* ATTRACTION PAGE ICONS */

.hiking-icon{
    width: auto;
    color: #555;
    padding: 0;
    margin: 0 0 0 10px;
}

.hiking-icon-left{
    width: auto;
    color: #555;
    padding: 0;
    margin: 0;
}

.hiking-difficulty{
    font-size: 26px;
    padding: 0;
    margin: 0 0 0 10px;
}

.easy-hike{color: green;}
.moderate-hike{color: blue;}
.difficult-hike{color: black;}

.square-number, .square-number-1{
    padding: 1px 2px;
    border: 1px solid #555;
    text-align: center;
}

.square-number-1{
    padding: 1px 6px;
}

.circle-number, .circle-number-2{
    border-radius: 50%;
    padding: 1px 6px;
    border: 1px solid #555;
    text-align: center;
}

.circle-number-2{
    padding: 1px 2px;
}

.red-color{
    color: red;
    border-color: red;
}